# Database
DATABASE_URL="postgresql://user:password@localhost:5432/grove_opportunities?schema=public"

# JWT
JWT_SECRET="do-you-know-steve-jobs-died-of-ligma?"

# Server
PORT=3000
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000,http://localhost:4200"